#btg {
    border: none;
    color: #007BFF;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
#btg:hover {
    background-color:rgba(67, 70, 73, 0.3);
}
#txg{
    max-height: 120px;
    overflow: hidden;
    transition: max-height 0.9s ease-in-out;
    line-height: 1.6;
}
#txg.expandido {
    max-height: 100000px;
    overflow: visible;
}
#txg.hidden-text{
    display: none;
}
#txg.expandido.hidden-text{
    display: block;
}